<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048112547385-843ah2ei4a51l00petn7hsf7tqu7jfs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048112547385-843ah2ei4a51l00petn7hsf7tqu7jfs1</string>
	<key>API_KEY</key>
	<string>AIzaSyC1iq1ZODrHj2PtPxxmLJmhmmAwLsjhlfI</string>
	<key>GCM_SENDER_ID</key>
	<string>1048112547385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackify</string>
	<key>PROJECT_ID</key>
	<string>hackify-8e96a</string>
	<key>STORAGE_BUCKET</key>
	<string>hackify-8e96a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048112547385:ios:7eae683ff0e9220b15efe8</string>
</dict>
</plist>